
.gridpane {
     -fx-border-color: black;
     -fx-grid-lines-visible: true;
     -fx-alignment: center;  
}

.tuile {
	-fx-background-color: blue;
    -fx-border-color: black;
    -fx-text-fill: #6666FF;
    -fx-font-size: 32;
    -fx-alignment: center;
}