.pane {
    -fx-background-color: #98FF32;
    -fx-border-color: black;
    -fx-halignment: center;
     -fx-alignment: CENTER;
}

.gridpane {
     -fx-border-color: black;
     -fx-grid-lines-visible: true;
     /*-fx-border: 2px solid;*/
     -fx-halignment: center;
     -fx-alignment: CENTER;
}

.tuile {
    /*-fx-text-alignment: center;
    -fx-halignment: center; */
    -fx-text-fill: #6666FF;
    /*-fx-font: "Cambria";*/
    -fx-font-size: 32;
    -fx-padding: 26 40 26 40;
    -fx-halignment: center;
     -fx-alignment: CENTER;
}